<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>
<p class="lead mb-3">Role: <%=user.role%>
</p>
<% if (user.role==="admin" ) { %>
    <h2>Live Sessions</h2>
    <ul>
        <% sessions.forEach(session=> { %>
            <form action="/revokesession/<%= session %>" method="POST">
                <%= JSON.stringify(session) %>
                    <button type="submit" class="btn btn-danger">Revoke Session</button>
            </form>
            <% }); %>
    </ul>
    <% } %>
        <a href="/auth/logout" class="btn btn-secondary">Logout</a>